<!DOCTYPE html>
<html>
    <head>
        <meta property="og:type"   content="article" />
        <meta name="author" content="GuiaLatina" />
        <meta name="keywords" content="Guialatina">
        <meta charset="UTF-8" />
        
        {% block metas %}{% endblock %}
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
